.wrapper {
  max-width: 46rem;
  margin: 0 auto; /*centralizar*/
  padding: 0 1rem; /*quando diminuir a tela, não grudar o conteúdo nas laterais*/
}

.searchBar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  
  margin-top: calc(0% - 1.625rem);
}

.searchBar input {
  width: 100%;
  padding: 1rem;
  font-size: 1rem;
  font-weight: 400;
  
  background: var(--gray-500);
  color: var(--gray-100);
  border: 1px solid var(--gray-700);
  outline: none;

  transition: all 0.2s;
}

.searchBar input:focus {
  color: var(--gray-100);
  border: 1px solid var(--purple-dark);
}

.searchBar button {
  display: flex;
  align-items: center;
  padding: 1rem;
  gap: 0.5rem;
  cursor: pointer;

  color: var(--gray-100);
  background: var(--blue-dark);
  border: none;

  transition: all 0.2s;
}

.searchBar button:hover {
  background: var(--blue);
}
